.usd-form {
    width: 30%;
    .forms {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .input {
            border: 1px solid black;
            border-radius: 5px;
            padding: 3px;
        }
        .select {
            border: 1px solid black;
            border-radius: 5px;
            padding: 3px;
        }
        .submit-btn {
            border: 1px solid black;
            background-color: #1a1a1a;
            border-radius: 10px;
            width: 50%;
            height: 30px;
            margin: 0 auto;
            color: white;
        }
    }
}